<p style="color: green"><%= notice %></p>

<% content_for :title, "Todos" %>

<h1>Todos</h1>

<%= form_with url: todos_path, method: :get, local: true do |form| %>
  <%= form.label :category, "Filter by category" %>
  <%= form.select :category,
        options_for_select([["All", ""]] + Todo::CATEGORIES.map { |c| [c, c] }, @selected_category),
        {},
        id: "category" %>
  <%= form.submit "Filter" %>
<% end %>

<div id="todos">
  <% if @todos.any? %>
    <% @todos.each do |todo| %>
      <%= render todo %>
      <p>
        <%= link_to "Show this todo", todo %>
      </p>
    <% end %>
  <% else %>
    <p>No todos found</p>
  <% end %>
</div>

<%= link_to "New todo", new_todo_path %>